<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            border: 3px solid black;
            box-shadow: 2px 2px;
            margin-top: 11%;
            margin-left: 34%;
            width:30%;
            
        }
        h1{
            font-size:38pt;
            font-weight: bold;
            margin-left: 120px;
        }
        h3{
            font-size:28pt;
            font-weight: bold;
            margin-top: 3%;
            margin-left: 160px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Counter</h1>
        <h3>{{request.session.count}} times</h3>
    </div>
</body>
</html>