/* General modifications Css */
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
}
.container {
    width: 975px;
    height: 1000px;
    margin: 0px auto;
    display: flex;
    font-family: cursive ;
}

.container1 {
width: 70%;
margin: 30px;
}

.container2 {
    width: 30%;
    margin: 30px 30px 0px 0px;
    }

/* General modifications Css */

/* Navigation Bar Starts here */
.nav {
    height: 80px;
    width: auto;
    background-color: rgb(55, 56, 55);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navprofile {
    display: flex;
}

.navlinks {
    display: flex;
    margin-top:25px;
    margin-left: 20px;
}

div.nav h1 {
    margin-right: 20px;
    font-size: 50px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

ul li {
    display: flex;
    margin-right: 20px;
    list-style: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.active {
    color: rgb(228, 224, 224);
}

li a {
    color: rgb(146, 144, 144);
    text-decoration: none;
}

.btn {
    height: 30px;
    width: 120px;
    background-color: rgb(33, 148, 148);
    color: white;
    border: 2px black;
    box-shadow: 2px 5px black;
}

/* Navigation Bar Ends here */

/*User Card CSS starts here */
.usercard {
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 100%;
    border: 3px solid rgb(202, 199, 199);
}

.header {
    background-color: rgb(19, 173, 184);
    height: 120px;
    width: inherit;
}

.profile-circle img{
    height: 100px;
    border: 5px solid rgb(202, 199, 199);
    border-radius: 50px;
    position: relative;
    bottom: 60px;
    left: 35px;

}

div.usercard H1 {
    font-size: 40px;
    position: relative;
    left: 25px;
    bottom: 50px;
}

.marker img {
    height: 20px;
    margin-right: 20px;
}

.marker {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 30px;
    left: 25px;
}

p {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    left: 25px;
}

.gear img {
    height: 20px;
    margin-right: 20px;
}

.gear {
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    left: 25px;
}

.gear a {
    color: blue;
    font-weight: normal;
    font-size: 20px;
    text-decoration-line: underline;
}

/*User Card CSS Ends here */

/*User Education CSS starts here */

.education {
    height: 350px;
    margin-top: 30px;
    border: 3px solid rgb(202, 199, 199);
}

.headerblack {
    height: 60px;
    color: white;
    background-color: rgb(55, 56, 55);
    border-bottom: 3px solid rgb(202, 199, 199);;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}

.headerblacke {
    height: 60px;
    color: white;
    background-color: rgb(55, 56, 55);
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.info1 h1 {
    margin-left: 25px;
    margin-top: 5px;
    font-size: 28px;
}

.info1 h2 {
    color: rgb(146, 144, 144);
    font-size: 22px ;
    margin-left: 25px;
}

.info1 p {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 25px ;
}

.info2 h1 {
    margin-left: 25px;
    margin-top: 15px;
    font-size: 28px;
}

.info2 h2 {
    color: rgb(146, 144, 144);
    font-size: 22px ;
    margin-left: 25px;
}

.info2 p {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 25px ;
}

/*User Education CSS Ends here */

/*User SideNav1 CSS Starts here */

.sidenav1 .headerblack button {
    background-color: rgb(172, 167, 167);
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
} 

.sidenav1{
    height: 225px;
    margin-bottom: 30px;
    border: 3px solid rgb(202, 199, 199);
}

.block1 {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.block1 .pic {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
}

.pic p {
    font-size: 18px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.block2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.block2 .pic {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;  
}

.pic p {
    font-size: 18px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.sidenav1 img {
    height: 30px;
    border: 3px solid rgb(202, 199, 199);
    border-radius: 50px;
}
/*User SideNav1 CSS Ends here */

/*User SideNav2 CSS Starts here */

.sidenav2 {
    height: 360px;
    border: 3px solid rgb(202, 199, 199);
    margin-top: 20px;
}

.sidenav2 img {
    height: 35px;
    border: 3px solid rgb(202, 199, 199);
    border-radius: 50px;
}

.sidenav2 .headerblack button {
    background-color: rgb(172, 167, 167);
    margin-right: 15px;
    width: 60px;
    height: 30px;
    border-radius: 500px;
} 

.b {
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 15px 15px 0px;
}

.b p {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidenav2 .link {
    color: blue;
    text-decoration: underline;
    padding-left: 10px;
    margin-top: 40px;
    border-top: 3px solid rgb(202, 199, 199);
}



/*User SideNav2 CSS Ends here */




